<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lucifina's Dancer Simulator</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>    
    <div class="dancer"><img src="https://i.postimg.cc/NjNfsFh6/BIpmhGV.png" alt=""></div>
        <div class="dancer2"><img src="https://i.postimg.cc/NjNfsFh6/BIpmhGV.png" alt=""></div>
    <center>
    <div class="container">
      <h1>Dancer Simulator</h1>
      <div class="dancer_buttons">
        <div class="rotating-dashed">
            <span class="dashing hidden button1"><i></i></span>
            <span class="dashing hidden button1"><i></i></span>
            <span class="dashing hidden button1"><i></i></span>
            <span class="dashing hidden button1"><i></i></span>         
            <div class="dancer_button red_button"><div class="label">1</div></div></div>  
        <div class="rotating-dashed">
            <span class="dashing hidden button2"><i></i></span>
            <span class="dashing hidden button2"><i></i></span>
            <span class="dashing hidden button2"><i></i></span>
            <span class="dashing hidden button2"><i></i></span>             
            <div class="dancer_button green_button"><div class="label">2</div></div>
        </div>
        <div class="rotating-dashed">
            <span class="dashing hidden button3"><i></i></span>
            <span class="dashing hidden button3"><i></i></span>
            <span class="dashing hidden button3"><i></i></span>
            <span class="dashing hidden button3"><i></i></span>             
            <div class="dancer_button blue_button"><div class="label">3</div></div>
        </div>
        <div class="rotating-dashed">
            <span class="dashing hidden button4"><i></i></span>
            <span class="dashing hidden button4"><i></i></span>
            <span class="dashing hidden button4"><i></i></span>
            <span class="dashing hidden button4"><i></i></span>             
            <div class="dancer_button yellow_button"><div class="label">4</div></div>
        </div>
            <div class="rotating-dashed">
            <span class="dashing hidden buttonE"><i></i></span>
            <span class="dashing hidden buttonE"><i></i></span>
            <span class="dashing hidden buttonE"><i></i></span>
            <span class="dashing hidden buttonE"><i></i></span>             
            <div class="dancer_button finish_button"><div class="label">E</div></div>
        </div>

        </div>
        </div>
        <textarea id="message" placeholder="Dance 'til you're dead!" cols="50" rows="15" readonly></textarea><br>
    </center>
        <div id="health"><div class="healthbar"></div></div>
        </div>
    </div>
    <script src="javascripts/dancer.js"></script>
</body>
</html>