@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 1s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: rgba(55, 55, 55, 0.9);
    border-style: solid;
    border-width: 2px 2px 2px 1px;
    border-color: #EC6200;
    list-style: none;
    transform: translate3d(100%, 0, 0);
    transition: all 1s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: rgba(68, 68, 68, 0.9);
    border-style: solid;
    border-width: 2px 1px 2px 2px;
    border-color: #EC6200;
    transform: translate3d(0, 100%, 0);
    transition: all 1s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 300px;
      height: 300px;
      background: url(../images/portrait.jpg);
      border-radius: 50%;
      border: solid 3px #EC6200; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 1s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #EC6200; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 1s ease-out; }
    .menu .nav-link:hover {
      color: #EC6200; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.blink {
  -webkit-animation: blinker 3s ease-in-out infinite alternate;
  -moz-animation: blinker 3s ease-in-out infinite alternate;
  animation: blinker 3s ease-in-out infinite alternate; }

.heartBeat {
  -webkit-animation: heartBeat 1.3s ease-in-out infinite;
  animation: heartBeat 1.3s ease-in-out infinite; }

@keyframes blinker {
  50% {
    opacity: 0.3; } }

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

* {
  box-sizing: border-box; }

body {
  background-color: #333;
  background-image: url(https://i.postimg.cc/Hxs31SgW/sbbg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  height: auto;
  margin: 0;
  font-family: 'Anton', sans-serif;
  line-height: 1.5; }

.dancer {
  opacity: 0.7;
  z-index: -1;
  position: fixed;
  top: 150px;
  left: 0px;
  width: 100%;
  height: auto; }

.dancer2 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  opacity: 0.7;
  z-index: -1;
  position: fixed;
  top: 150px;
  left: 0px;
  width: 100%;
  height: auto; }

h1 {
  padding: 0;
  margin: 0;
  opacity: 0.9;
  font-size: 50px;
  -webkit-text-stroke: 1px #4d4d4d;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  background: linear-gradient(330deg, #494949 0%, #292f4b 25%, #b6c0df 50%, #000000 75%, #838383 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#message {
  width: 500px;
  opacity: 0.9;
  background-image: url(https://i.postimg.cc/mgYSzxZ2/tataru.png);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: bottom right;
  overflow: hidden;
  background-color: #222;
  resize: none;
  white-space: pre;
  font-size: 16px;
  font-weight: bold;
  color: #c92626; }

input, textarea {
  opacity: 1;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

#health {
  opacity: 0.8;
  margin: auto;
  width: 50%;
  background: black;
  border-radius: 8px;
  height: 30px;
  width: 500px;
  padding: 2px; }

.healthbar {
  content: '';
  display: block;
  background: #640000;
  background: linear-gradient(0deg, rgba(100, 0, 0, 0.8) 0%, rgba(255, 73, 73, 0.8) 50%, rgba(100, 0, 0, 0.8) 100%);
  height: 26px;
  width: 100%;
  transition: width .5s ease-out;
  border-radius: 8px; }

.hit {
  -webkit-animation: shake 0.5;
  animation: shake 0.5s; }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
    background-color: red;
    background-image: url("https://i.postimg.cc/g2FD2cWT/tatarurip.png"); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
    background-image: url("https://i.postimg.cc/mgYSzxZ2/tataru.png"); }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
    background-color: #222; } }

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
    background-color: red;
    background-image: url("https://i.postimg.cc/g2FD2cWT/tatarurip.png"); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
    background-image: url("https://i.postimg.cc/mgYSzxZ2/tataru.png"); }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
    background-color: #222; } }

.dancer_button {
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 58px;
  width: 58px;
  border-radius: 5px;
  text-align: center; }
  .dancer_button .label {
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 5px;
    top: -3px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    text-shadow: 2px 2px #000000;
    z-index: 2; }

.red_button {
  z-index: -1;
  background-color: darkred;
  background-image: url("https://i.postimg.cc/dQf6gmSv/emboite.png"); }
  .red_button.GCD {
    opacity: 0.8;
    display: inline-block;
    height: 58px;
    width: 58px; }

.green_button {
  background-color: green;
  background-image: url("https://i.postimg.cc/QCFbHHCR/jete.png"); }
  .green_button.GCD {
    opacity: 0.8;
    display: inline-block;
    height: 58px;
    width: 58px; }

.blue_button {
  background-color: blue;
  background-image: url("https://i.postimg.cc/KvgfbkdT/entrechat.png"); }
  .blue_button.GCD {
    opacity: 0.8;
    display: inline-block;
    height: 58px;
    width: 58px; }

.yellow_button {
  background-color: darkgoldenrod;
  background-image: url("https://i.postimg.cc/j5gcxzxH/pirouette.png"); }
  .yellow_button.GCD {
    opacity: 0.8;
    display: inline-block;
    height: 58px;
    width: 58px; }

.finish_button {
  background-color: palevioletred;
  background-image: url("https://i.postimg.cc/Wzx7rTJt/tfinish.png"); }
  .finish_button.GCD {
    opacity: 0.8;
    display: inline-block;
    height: 58px;
    width: 58px; }

.rotating-dashed {
  opacity: 1;
  z-index: 3;
  display: inline-block;
  position: relative;
  width: 58px;
  height: 58px;
  overflow: hidden;
  color: orange; }

.rotating-dashed .dashing {
  opacity: 1;
  z-index: 3;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute; }

.rotating-dashed .dashing:nth-of-type(1) {
  -webkit-transform: rotate(0deg); }

.rotating-dashed .dashing:nth-of-type(2) {
  -webkit-transform: rotate(90deg); }

.rotating-dashed .dashing:nth-of-type(3) {
  -webkit-transform: rotate(180deg); }

.rotating-dashed .dashing:nth-of-type(4) {
  -webkit-transform: rotate(270deg); }

.rotating-dashed .dashing i {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  border-bottom: 3px dashed; }

.rotating-dashed .dashing i {
  -webkit-animation: slideDash 2.5s infinite linear; }

@-webkit-keyframes slideDash {
  from {
    -webkit-transform: translateX(-50%); }
  to {
    -webkit-transform: translateX(0%); } }

.visible {
  visibility: visible; }

.hidden {
  visibility: hidden; }

* {
  box-sizing: border-box; }

body {
  background-color: #444;
  color: white;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      background: rgba(68, 68, 68, 0.8); }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #EC6200; }

main {
  padding: 4rem;
  height: 100%; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #EC6200;
        transition: all 1s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh;
      /*
            &.show {
                margin-top: 7vh;

            }
            */ }
  main#about {
    overflow: hidden; }
    main#about h1 {
      margin-top: 3vh;
      /*
            &.show {
                margin-top: 7vh;

            }
            */ }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1.5rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    width: 100%;
    background: rgba(55, 55, 55, 0.95);
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
    border-width: 0px 1px 1px 1px; }
    .menu-nav .nav-item {
      transform: translate3d(-300px, 0, 0); }
  .menu-branding {
    height: 25vh;
    background: rgba(68, 68, 68, 0.95);
    border-width: 1px 1px 1px 1px;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url(../images/portrait_small.jpg);
      width: 150px;
      height: 150px;
      border-width: 2px; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }
